# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Oscar te Giffel
	email = oscar@tegiffel.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
